@import "bootstrap-sprockets";
@import "bootstrap";

.buffer {
	margin-top: 50px;
}

.centerize {
	margin-top: 11px;
}

.cant-see-me {
	display: none;
}

.team-display {
	height:auto;
}

.background-color {
	background: #78B7ED;
	min-height: 100%;
	height: auto;
}