@import "bootstrap-sprockets";
@import "bootstrap";

body {
	min-height: 100%;
}

.buffer {
	margin-top: 50px;
}

.centerize {
	margin-top: 11px;
}

.cant-see-me {
	display: none;
}

.team-display {
	height:auto;
}

.background-color {
	background: #78B7ED;
	height: 100%;
}

