<!-- _member.html.erb -->

<ul>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
				<% if member.leader == true %>
					<b><%= member.name %></b>
				<%else%>
					<%= member.name %>
				<%end%>
				</div>
				<%= link_to "Rename", edit_member_path(member), remote: true %><br />
				<%= link_to "Kick Out", member, remote: true, method: :delete, data: { confirm: 'Are you sure?'} %>
			</div>
		</div>
</ul>