<p id="notice"><%= notice %></p>

<h1>The <u>Essence</u> of our Days in in the <i>style</i>...</h1>
<h2>it is both "classic" and fresh.</h2><br />

<%= link_to 'New Teammate', new_member_path, remote: true %>

<div id="member-form" style="display:none;"></div>

<div id="members">
    <%= render @members %>
</div>

