<p id="notice"><%= notice %></p>


<h1>Listing Members</h1>

<%= link_to 'New Teammate', new_member_path, remote: true %>

<div id="member-form" style="display:none;"></div>

<div id="members">
    <%= render @members %>
</div>

